
 
<template name="header">
<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{pathFor 'booksListWrapper'}}">Book Stack</a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Active</a></li>
       <li><a href="{{pathFor 'bookSubmit' }}"> New Book </a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Dropdown header</li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li>
    </ul>
 
    {{> searchBox }}
    <ul class="nav navbar-nav navbar-right">
         {{> loginButtons }}
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
</template>
<template name="placeholderNavbar1">
 <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbar">
	    <button data-filter="all" class="filter">All</button>
	   	<button data-filter=".buy" class="filter">Buy</button>
	    <button data-filter=".free" class="filter active">Free</button>
	    <button data-filter=".beginner" class="filter">Beginner</button>
	    <button data-filter=".webapps" class="filter">WebApps</button>
	    <button data-filter=".datascience" class="filter">DataScience</button>
	    <button data-filter=".hacking" class="filter">Hacking</button>
    </div>
 </div>
</template>