// Color variables (appears count calculates by raw css)
@white: #ffffff; // Appears 6 times
@skyblue: #a0c3ff; // Appears 6 times
@brick: #dd4b39; // Appears 3 times
@darkgray: #666666; // Appears 3 times
@mango: #f4b400; // Appears 3 times
@charcoal: #444444; // Appears 3 times
@offwhite2: #efefef; // Appears 3 times
@blue: #4285f4; // Appears 3 times
@green: #65b045; // Appears 3 times
@lightergray: #cfcfcf; // Appears 2 times
@lightgray: #d2d2d2; // Appears 2 times
@offwhite: #f4f4f4; // Appears 2 times




.navbar-default {
	background-color:@offwhite;
	border-width:0;
	margin-top:50px;
	z-index:5;
	.navbar-nav>.active>a {
		background-color:transparent;
		border-bottom-width:2px;
		border:0 solid @blue;
		font-weight:800;
	}
	.navbar-nav>li {
		&:hover>a {
			background-color:transparent;
			border-bottom-width:2px;
			border:0 solid @blue;
			font-weight:800;
		}
	}
	.dropdown-menu {
		background-color:@white;
		li>a {
			padding-left:30px;
		}
	}
}
.header {
	background-color:@white;
	border-width:0;
	.navbar-collapse {
		background-color:@white;
	}
}
.btn,.form-control,.panel,.list-group,.well  {
	border-radius:1px;
	box-shadow:0 0 0;
}
.form-control {
	border-color:#d7d7d7;
}
.btn-primary {
	border-color:transparent;
}
.btn-primary,.label-primary,.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus  {
	background-color:@blue;
}
.btn-plus {
	background-color:@white;
	border-color:#dddddd;
	border-radius:3px;
	border-width:1px;
	box-shadow:1px 1px 0 #999999;
	color:@darkgray;
	text-shadow:0 0 1px #bbbbbb;
}
.well {
	border-color:@lightgray;
	border-radius:3px;
	box-shadow:0 1px 0 @lightergray;
}
.panel {
	border-color:@lightgray;
	border-radius:3px;
	box-shadow:0 1px 0 @lightergray;
	.btn {
		i {
			color:@darkgray;
		}
	}
	.panel-heading {
		background-color:@white;
		border-color:@white;
		color:#262626;
		font-size:16px;
		font-weight:700;
		a {
			font-size:11px;
			font-weight:400;
		}
	}
	.panel-default {
		border-color:#cccccc;
	}
	.img-circle {
		height:50px;
		width:50px;
	}
	.panel-thumbnail {
		padding:0;
	}
}
.btn-success {
	background-color:@green;
}
.label-success {
	background-color:@green;
}
.progress-bar-success {
	background-color:@green;
}
.btn-info {
	background-color:@skyblue;
	border-color:@skyblue;
}
.label-info {
	background-color:@skyblue;
	border-color:@skyblue;
}
.progress-bar-info {
	background-color:@skyblue;
	border-color:@skyblue;
}
.btn-danger {
	background-color:@brick;
}
.label-danger {
	background-color:@brick;
}
.progress-bar-danger {
	background-color:@brick;
}
.btn-warning {
	background-color:@mango;
	color:@charcoal;
}
.label-warning {
	background-color:@mango;
	color:@charcoal;
}
.progress-bar-warning {
	background-color:@mango;
	color:@charcoal;
}
hr {
	border-color:#ececec;
}
button {
	outline: 0;
}
textarea {
	outline: 0;
	resize: none;
}
.btn {
	span {
		color:@darkgray;
	}
}
.list-group-item {
	&:first-child {
		border-radius:0;
	}
	&:last-child {
		border-radius:0;
	}
}
h3 {
	border-bottom-width:1px;
	border:0 solid @offwhite2;
	padding-bottom:10px;
}
h4 {
	border-bottom-width:1px;
	border:0 solid @offwhite2;
	padding-bottom:10px;
}
h5 {
	border-bottom-width:1px;
	border:0 solid @offwhite2;
	padding-bottom:10px;
}
.lead {
	text-overflow:ellipsis;
}
.modal-dialog {
}
.modal-footer {
	border-width:0;
}
.dropdown-menu {
	background-color:@offwhite;
	border-color:#f0f0f0;
	border-radius:0;
	margin-top:-1px;
}
#subnav {
	position:fixed;
	width:100%;
}

#main {
	padding-top:120px;
}
.main {
	background: #fff;
	border-radius: 3px;
	padding: 10px;
	margin-bottom: 10px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.filter {
  .btn;
  .btn-info;
}
