<template name="bookItem">
<div class="book">
	<div class="book-content panel panel-default bootcards-media">
	  <div class="panel-heading">
	    <h3 class="panel-title"><a href="{{url}}">{{title}}</a></h3>
	  </div>
	  <div class="panel-body">
	    Media card description lorem ipsum dolor est compendium
	    <span>{{domain}}</span>
	    <p>
	    	Published Date: {{pubDate}}
	    	{{#if ownBook}} <a href="{{pathFor 'bookEdit'}}">Edit</a>{{/if}}
	    </p>
	    <a href="{{pathFor 'bookPage'}}" class="discuss btn"> Details </a> 
	  </div>
	  <img class="img-responsive portfolio-item" src="http://placehold.it/500x300">
	  
	  <div class="panel-footer">
	    <div class="btn-group btn-group-justified">
	      <div class="btn-group">
	        <button class="btn btn-default">
	          <i class="fa fa-arrow-down"></i>
	          Download
	        </button>
	      </div>
	      <div class="btn-group">
	        <button class="btn btn-default">
	          <i class="fa fa-star"></i>
	          Favorite
	        </button>
	      </div>
	      <div class="btn-group">
	        <button class="btn btn-default">
	          <i class="fa fa-envelope"></i>
	          Email
	        </button>
	      </div>
	    </div>
	  </div>
	</div>
</div>
</template>
