<template name="bookEdit">
	<form class="main">
		<div class="form-group">
			<label  for="url">URL</label>
			<input name="url" type="text" class="form-control" value="{{url}}" placeholder="book url" />
		</div>
		<div class="form-group">
			<label for="title">Title</label>
			<input name="title" type="text" class="form-control" value="{{title}}" placeholder="Name the book" />
		</div>
		<div class="form-group">
			<label class="control-label" for="publicationDate">Date</label>
				<input name="pubDate" type="text" class="form-control" value="{{pubDate}}" placeholder="published date" />
		</div>
		<div class="form-group">
			<label class="control-label" for="reviews">Number of Reviews </label>
			<input name="reviews" type="text" class="form-control" value="{{reviews}}" placeholder="number of reviews" />
		</div>
		<div class="form-group">
			<label class="control-label" for="stars">Stars </label>
			<input name="stars" type="text" class="form-control" value="{{stars}}" placeholder="Enter stars" />
		</div>
		<div class="form-group">
			<label class="control-label" for="stars">Page count </label>
			<input name="pages" type="text" class="form-control" value="{{pages}}" placeholder="Enter page count" />
		</div>
		<div class="form-group">
			<label class="control-label" for="price">Price </label>
			<input name="price" type="text" class="form-control" value="{{price}}" placeholder="Enter price" />
		</div>
		<div class="form-group">
			<label class="control-label" for="download_url">Download Link </label>
			<input name="download_url" type="text" class="form-control" value="{{download_url}}" placeholder="Enter download link" />
		</div>
		<div class="form-group">
			<label class="control-label" for="image_url">image url </label>
			<input name="image_url" type="text" class="form-control" value="{{image_url}}" placeholder="Enter image url" />
		</div>
		<div class="form-group">
			<label class="control-label" for="tags">Tags</label>
				<input name="tags" type="text" data-role="tagsInput" class="form-control" value="{{tags}}" placeholder="edit tags" />
		</div>
		<div class="form-group">
			<input type="submit"   value="Submit" class="btn btn-primary submit" />
		</div>
		<hr />
		<div class="form-group">
			<a class="btn btn-danger delete" href="#" > Delete Book</a>
		</div>
	</form>
</template>